<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5.2 Implementación de algoritmos Zero-R y One-R</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <form action="/upload-file" enctype="multipart/form-data" method="POST">
        <input name="file" type="file" accept=".csv">

        <div>
            <label>
                Iteraciones:
                <input name="iteraciones" type="number" value="{{ iteraciones }}">
            </label>
        </div>
        
        <div>
            Modelo:
            <label>
                <input name="modelo" type="radio" value="zero-r" {{ "checked" if modelo == "zero-r" else "" }}> Zero-R
            </label>
            <label>
                <input name="modelo" type="radio" value="one-r" {{ "checked" if modelo == "one-r" else "" }}> One-R
            </label>
        </div>

        <div>
            <label>
                Tamaño del conjunto de entrenamiento:
                <input name="test_size" type="number" min="0" max="100" value="{{ test_size }}">
            </label>
        </div>

        <div>
            <label>
                Atributo clase:
                <input name="clase" type="text" value="{{ clase }}">
            </label>
        </div>

        <input type="submit">
    </form>
</body>
</html>